{% extends 'aplicacion/base.html.twig' %}
{% block title %}Reclamo{% endblock %}
{% block content %}
    <div class="btn-toolbar" style="float:left">
        <div class="btn-group">
            <a class="btn btn-default btn-sm" href="{{ path('cliente_crm_solicitud_lista') }}">
                <i class="fa fa-reply" aria-hidden="true"></i>
                Volver
            </a>
        </div>
    </div>
    <br><br>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-condensed table-bordered tabla-informacion w-100">
                <tr>
                    <td class="titulo">CÓDIGO:</td>
                    <td class="td-in-well">{{ arSolicitud.codigoSolicitudPk }}</td>
                    <td class="titulo"></td>
                    <td class="td-in-well"></td>
                </tr>
                <tr>
                    <td class="titulo">TIPO:</td>
                    <td class="td-in-well">{{ arSolicitud.solicitudTipo }}</td>
                    <td class="titulo">TEMA:</td>
                    <td class="td-in-well">{{ arSolicitud.tema }}</td>
                </tr>
                <tr>
                    <td class="titulo">FECHA:</td>
                    <td class="td-in-well">{{ arSolicitud.fecha | date('Y-m-d') }}</td>
                    <td class="titulo"></td>
                    <td class="td-in-well"></td>
                </tr>
            </table>
        </div>
    </div>

    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li class="active"><a href="#analisis" data-toggle="tab">Análisis</a></li>
        <li><a href="#seguimiento" data-toggle="tab">Seguimiento</a></li>
        <li><a href="#respuesta"  data-toggle="tab">Respuesta</a></li>
    </ul>
    <!-- Tab panes -->
    <div class="tab-content" >
        <!-- Pestaña Análisis -->
        <div class="tab-pane active" id="analisis" role="tabpanel">
            <div class="table-responsive mt-0">
                <table class="table table-bordered table-hover tabla-datos-v2">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>FECHA</th>
                        <th>RAZÓN</th>
                        <th>CAUSA RAÍZ</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% if arSolicitud.analisis is defined and arSolicitud.analisis is not empty %}
                        {% for arRespuesta in arSolicitud.analisis %}
                            <tr>
                                <td>{{ arRespuesta.codigoSolicitudAnalisisPk }}</td>
                                <td>{{ arRespuesta.fecha | date('Y-m-d H:i:s') }}</td>
                                <td>{{ arRespuesta.razon }}</td>
                                <td>{{ arRespuesta.causaRaiz }}</td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                    </tbody>
                </table>
            </div>
        </div>

        <!-- Pestaña Seguimiento -->
        <div class="tab-pane fade" id="seguimiento" role="tabpanel">
            <div class="table-responsive mt-0">
                <table class="table table-bordered table-hover tabla-datos-v2">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>FECHA</th>
                        <th>PLAN ACCIÓN</th>
                        <th>DESCRIPCIÓN</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% if arSolicitud.seguimientos is defined and arSolicitud.seguimientos is not empty %}
                        {% for arRespuesta in arSolicitud.seguimientos %}
                            <tr>
                                <td>{{ arRespuesta.codigoSolicitudSeguimientoPk }}</td>
                                <td>{{ arRespuesta.fecha | date('Y-m-d H:i:s') }}</td>
                                <td>{{ arRespuesta.planAccion }}</td>
                                <td>{{ arRespuesta.descripcion }}</td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                    </tbody>
                </table>
            </div>
        </div>

        <!-- Pestaña Respuesta -->
        <div class="tab-pane fade" id="respuesta" role="tabpanel">
            <div class="table-responsive mt-0">
                <table class="table table-bordered table-hover tabla-datos-v2">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>FECHA</th>
                        <th>RESPUESTA</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for arRespuesta in arSolicitud.respuestas %}
                        <tr>
                            <td>{{ arRespuesta.codigoSolicitudRespuestaPk }}</td>
                            <td>{{ arRespuesta.fecha | date('Y-m-d H:i:s') }}</td>
                            <td>{{ arRespuesta.respuesta }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}

