{% extends 'aplicacion/baseSinMenu.html.twig' %}
{% block content %}
    <div class="row">
        <div class="col-xl-12">
            <section class="panel">
                <header class="panel-heading">
                    <h2 class="panel-title">Archivos</h2>
                </header>
                <div class="panel-body">
                    <table class="table table-bordered table-hover table-sm table-hover table-striped tabla-datos-v2">
                        <tr>
                            <th>FECHA</th>
                            <th>NOMBRE</th>
                            <th>ARCHIVO</th>
                            <th title="Tamaño">MB</th>
                            <th></th>
                            <th></th>
                        </tr>
                        {% for arArchivos in arArchivos %}
                            <tr>
                                <td><input type="hidden" name="LblCodigo[]"
                                           value="{{ arArchivos.codigoArchivoPk }}">
                                    {{ arArchivos.fecha | date ('Y-m-d H:i:s') }}</td>
                                <td>{{ arArchivos.descripcion }}</td>
                                <td>{{ arArchivos.nombre }}</td>
                                <td>{{ arArchivos.tamano | number_format(2) }}</td>
                                <td style="text-align: center"><a
                                            href="{{ path('documental_general_general_descargar', { 'codigoArchivo': arArchivos.codigoArchivoPk }) }}"><i
                                                class="fa fa-download" style="font-size: large;color: black;"></i></a>
                                </td>
                                <td style="text-align: center"><a
                                            href="{{ path('documental_general_general_eliminar', { 'tipo': tipo, 'codigoMovimiento':codigo,'codigoArchivo': arArchivos.codigoArchivoPk }) }}"
                                            onclick='return confirm("Esta seguro de eliminar el archivo?")'><i
                                                class="fa fa-trash" style="font-size: large;color: black;"></i></a></td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
                <div class="panel-footer">
                    <div class="row form-group form-group-sm">
                        <div class="col-md-4">{{ knp_pagination_render(arArchivos) }}</div>
                        <div class="col-md-1 col-md-offset-7">
                            <a class="btn btn-default btn-sm"
                               href="{{ path('documental_general_general_cargar', { 'tipo': tipo,  'codigo': codigo }) }}">Cargar</a>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-12">
            <section class="panel">
                <header class="panel-heading">
                    <h2 class="panel-title">Imágenes</h2>
                </header>
                <div class="panel-body">
                    <div align="center">
                        {% if srcImagen %}
                            <img src="{{ srcImagen }}" height="500" width="500"/>
                        {% endif %}
                    </div>
                </div>
                <div class="panel-footer">
                    <div class="row form-group form-group-sm">
                        <div class="col-md-1 col-md-offset-11">
                            <a class="btn btn-default btn-sm"
                               href="{{ path('documental_general_general_cargar_imagen', { 'modelo': tipo,  'codigo': codigo }) }}">Cargar
                                imagen</a>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
{% endblock %}
