{% extends 'aplicacion/base.html.twig' %}

{% block title %}Cambiar clave{% endblock %}

{% block content %}
    {{ form_start(form) }}
    <section class="panel">
        <header class="panel-heading">
            <div class="panel-actions">
                <a href="#" class="fa fa-caret-down"></a>
                <a href="#" class="fa fa-times"></a>
            </div>

            <h2 class="panel-title">Cambio de clave</h2>
        </header>
        <div class="panel-body">

                <div class="form-group">
                    <label class="col-md-3 control-label" for="inputDefault">Actual:</label>
                    <div class="col-md-6">
                        {{ form_widget(form.claveActual) }}
                        {{ form_errors(form.claveActual) }}
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-3 control-label" for="inputDefault">Nueva:</label>
                    <div class="col-md-6">
                        {{ form_widget(form.claveNueva) }}
                        {{ form_errors(form.claveNueva) }}
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-3 control-label" for="inputDefault">Nueva repetir:</label>
                    <div class="col-md-6">
                        {{ form_widget(form.claveNuevaRepetir) }}
                        {{ form_errors(form.claveNuevaRepetir) }}
                    </div>
                </div>
                <div class="row form-group form-group-sm">
                    <div class="col-xl-12 col-sm-12 text-right mt-2">
                        {{ form_widget(form.btnCambiar) }}
                    </div>
                </div>
        </div>
    </section>
    {{ form_end(form) }}
{% endblock %}