{% extends 'aplicacion/base.html.twig' %}
{% block title %}Cotizacion{% endblock %}
{% block content %}
    {{ form_start(form) }}
    <div class="row mt-2">
        <section class="panel">
            <div class="panel-heading">
                <div class="panel-title">
                    <h2 class="panel-title">COTIZACIÓN NUEVO</h2>
                </div>
            </div>
            <div class="panel-body">
                <div class="row form-group form-group-sm">
                    <label class="col-sm-2 control-label">Estrato:</label>
                    <div class="col-sm-4">
                        {{ form_widget(form.estrato, { 'attr': {'class': 'form-control'} }) }}
                        {{ form_errors(form.estrato) }}
                    </div>
                    <label for="form_comentarios" class="col-sm-2 control-label">Tipo:</label>
                    <div class="col-sm-4">
                        <select id="cotizacion_servicio_tipo" name="cotizacion_servicio_tipo" class="form-control form-control">
                            {% for arCotizaciontipo in arrCotizaciontipos %}
                                <option value="{{ arCotizaciontipo.codigoCotizacionTipoPk }}">{{ arCotizaciontipo.nombre }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="row form-group form-group-sm">
                    <label for="form_comentarios" class="col-sm-2 control-label">Sector:</label>
                    <div class="col-sm-4">
                        <select id="cotizacion_servicio_sector" name="cotizacion_servicio_sector"
                                class="form-control form-control">
                            <option value="COM">COMERCIAL</option>
                            <option value="RES">RESIDENCIAL</option>
                        </select>
                    </div>
                </div>
                <div class="row form-group form-group-sm">
                    <label for="form_comentarios" class="col-sm-2 control-label">Comentarios:</label>
                    <div class="col-sm-10">
                        {{ form_widget(form.comentarios) }}
                        {{ form_errors(form.comentarios) }}
                    </div>
                </div>
                <div class="row form-group form-group-sm">
                    <div class="col-xl-12 col-sm-12 text-right mt-2">
                        <a href="{{ path('cliente_crm_contratacion_lista') }}" class=" btn btn-sm btn-default"
                           title="regresar a la lista"> Cancelar</a>
                        {{ form_widget(form.btnGuardar) }}
                    </div>
                </div>
            </div>
        </section>
    </div>
    {{ form_end(form) }}
{% endblock %}