{% extends 'aplicacion/base.html.twig' %}
{% block title %}Detalle{% endblock %}
{% block content %}
    {{ form_start(form, { 'attr': {'class': 'form-horizontal'} }) }}
    <div class="btn-toolbar" style="float:left">
        <div class="btn-group">
            <a class="btn btn-default btn-sm" href="{{ path('cliente_transporte_guia_lista') }}">
                <i class="fa fa-reply" aria-hidden="true"></i>
                Volver
            </a>
        </div>
        <div class="btn-group">

        </div>
    </div>
    <br><br>
    {% if arrNovedades is not empty %}
        <table class="table table-bordered table-simetrica">
            <thead>
            <tr>
                <th>Fecha</th>
                <th>Novedad</th>
            </tr>
            </thead>
            <tbody>
            {% for arrNovedad in arrNovedades %}
                <tr>
                    <td>{{ arrNovedad.fecha | date('Y-m-d') }}</td>
                    <td style="color: red; font-weight: bold;">{{ arrNovedad.novedadTipoNombre }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
    <div class="timeline">
        <div class="tm-body">
            <div class="tm-title">
                <h3 class="h5 text-uppercase">INGRESO</h3>
            </div>
            <ol class="tm-items">
                <li>
                    <div class="tm-info">
                        <div class="tm-icon"><i class="fa fa-clipboard"></i></div>
                        <time class="tm-datetime">
                            {% if arGuia.fechaRecogido is defined %}
                                <div class="tm-datetime-date">{{ arGuia.fechaRecogido | date('Y-m-d') }}</div>
                                <div class="tm-datetime-time"></div>
                            {% else %}
                                <div class="tm-datetime-date">{{ arGuia.fechaIngreso | date('Y-m-d') }}</div>
                                <div class="tm-datetime-time"></div>
                            {% endif %}
                        </time>
                    </div>
                    <div class="tm-box appear-animation fadeInRight appear-animation-visible"
                         data-appear-animation="fadeInRight" data-appear-animation-delay="100"
                         style="animation-delay: 100ms;">
                        <p>Recogida
                        </p>
                        <div class="tm-meta">
                                    <span>
                                        <i class="fa fa-user"></i> Por <a href="#">{{ arGuia.usuario }}</a>
                                    </span>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="tm-info">
                        <div class="tm-icon"><i class="fa fa-home"></i></div>
                        <time class="tm-datetime" datetime="2013-11-19 18:13">
                            {% if arGuia.fechaIngresoOperacion is defined %}
                                <div class="tm-datetime-date">{{ arGuia.fechaIngresoOperacion | date('Y-m-d') }}</div>
                                <div class="tm-datetime-time">{{ arGuia.fechaIngreso | date('H:i') }}</div>
                            {% else %}
                                <div class="tm-datetime-date">{{ arGuia.fechaIngreso | date('Y-m-d') }}</div>
                                <div class="tm-datetime-time">{{ arGuia.fechaIngreso | date('H:i') }}</div>
                            {% endif %}
                        </time>
                    </div>
                    <div class="tm-box appear-animation fadeInRight appear-animation-visible"
                         data-appear-animation="fadeInRight" data-appear-animation-delay="250"
                         style="animation-delay: 250ms;">
                        <p>
                            Ingreso a bodega de origen
                        </p>
                    </div>
                </li>
            </ol>
            <div class="tm-title">
                <h3 class="h5 text-uppercase">TRANSPORTE</h3>
            </div>
            <ol class="tm-items">
                <li>
                    <div class="tm-info">
                        <div class="tm-icon"><i class="fa fa-car"></i></div>
                        <time class="tm-datetime" datetime="2013-11-19 18:13">
                            {#                                            <div class="tm-datetime-date">{{ arGuia.estadoDespachado?arGuia.fechaIngreso?arGuia.fechaIngreso | date('Y-m-d'):'N/A':'N/A' }}</div>#}
                            {#                                            <div class="tm-datetime-time">{{ arGuia.estadoDespachado?arGuia.fechaIngreso?arGuia.fechaIngreso | date('H:i'):'N/A':'N/A' }}</div>#}
                        </time>
                    </div>
                    <div class="tm-box appear-animation fadeInRight appear-animation-visible"
                         data-appear-animation="fadeInRight" data-appear-animation-delay="250"
                         style="animation-delay: 250ms;">
                        {% if arrDespachos is not empty %}
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>Número</th>
                                    <th>Fecha</th>
                                    <th>Estado</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for arrDespacho in arrDespachos %}
                                    <tr>
                                        <td>{{ arrDespacho.numero }}</td>
                                        <td>{{ arrDespacho.fechaSalida | date('Y-m-d') }}</td>
                                        <td>
                                            {% if arrDespacho.codigoDespachoClaseFk == 'VIA' %}
                                                <p>En transporte nacional</p>
                                            {% endif %}
                                            {% if arrDespacho.codigoDespachoClaseFk == 'REP' %}
                                                <p>En reparto urbano/local</p>
                                            {% endif %}
                                            {% if arrDespacho.codigoDespachoClaseFk == 'REC' %}
                                                <p>Recogida</p>
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        {% endif %}
                    </div>
                </li>
            </ol>
            <div class="tm-title">
                <h3 class="h5 text-uppercase">ENTREGA</h3>
            </div>
            <ol class="tm-items">
                <li>
                    <div class="tm-info">
                        <div class="tm-icon"><i class="fa fa-thumbs-up"></i></div>
                        <time class="tm-datetime" datetime="2013-11-19 18:13">
                            <div class="tm-datetime-date">{{ arGuia.estadoEntregado?arGuia.fechaEntrega?arGuia.fechaEntrega | date('Y-m-d'):'N/A':'N/A' }}</div>
                            <div class="tm-datetime-time">{{ arGuia.estadoEntregado?arGuia.fechaEntrega?arGuia.fechaEntrega | date('H:i'):'N/A':'N/A' }}</div>
                        </time>
                    </div>
                    <div class="tm-box appear-animation fadeInRight appear-animation-visible"
                         data-appear-animation="fadeInRight" data-appear-animation-delay="250"
                         style="animation-delay: 250ms;">
                        <p>
                            {{ arGuia.estadoEntregado?'Entregada al destinatario':'Sin entregar' }}
                        </p>
                        <hr>
                        {% if arrFirmas %}
                            <h6>Firmas</h6>
                            <div style="display: flex; gap: 2em">
                                {% for arrFirma in arrFirmas %}
                                    <div class="img-thumbnail">
                                        <a href="data:image/jpg;base64,{{ arrFirma.base64 }}"
                                           class="test-popup-link">
                                            <img src="data:{{ arrFirma.tipo }};base64,{{ arrFirma.base64 }}"
                                                 alt=""
                                                 width="215" height="112">
                                        </a>
                                        <div style="display: flex; align-content: center; justify-content: space-between; margin-top: 10px">
                                            <span>
                                                <p>{{ arrFirma.nombre }}</p>
                                                <p>{{ arrFirma.fecha | date('Y-m-d') }}</p>
                                            </span>
                                            <span class="imgOpciones btnDescargarImagen"
                                                  data-nombre="{{ arrFirma.nombre }}"
                                                  data-img="data:image/jpg;base64,{{ arrFirma.base64 }}">
                                                        <i class="fa fa-download"
                                                           data-nombre="{{ arrFirma.nombre }}"
                                                           data-img="data:image/jpg;base64,{{ arrFirma.base64 }}"></i>
                                            </span>
                                        </div>

                                    </div>
                                {% endfor %}
                            </div>
                        {% endif %}
                        {% if arrSeguimientos %}
                            {% if arrSeguimientos|length > 0 %}
                                <hr>
                                <h6>Seguimiento</h6>
                                {% for arrSeguimientos in arrSeguimientos %}
                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead>
                                            <tr>
                                                {% for cabecera in arrSeguimientos.cabeceras %}
                                                    <th>{{ cabecera }}</th>
                                                {% endfor %}
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for cabecera in arrSeguimientos.contenido %}
                                                <th>{{ cabecera }}</th>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                {% endfor %}
                            {% endif %}
                        {% endif %}
                        {% if arGuia.usuarioEntrega != '' %}
                            <div class="tm-meta">
                                            <span>
                                                <i class="fa fa-user"></i> Entregada por <a
                                                        href="#">{{ arGuia.usuarioEntrega }}</a>
                                            </span>
                            </div>
                        {% endif %}
                    </div>
                </li>
            </ol>
            <div class="tm-title">
                <h3 class="h5 text-uppercase">CUMPLIDO</h3>
            </div>
            <ol class="tm-items">
                <li>
                    <div class="tm-info">
                        <div class="tm-icon"><i class="fa fa-heart"></i></div>
                        <time class="tm-datetime" datetime="2013-09-08 16:13">
                            <div class="tm-datetime-date">{{ arGuia.estadoCumplido?arGuia.fechaCumplido?arGuia.fechaCumplido | date('Y-m-d'):'N/A':'N/A' }}</div>
                            <div class="tm-datetime-time">{{ arGuia.estadoCumplido?arGuia.fechaCumplido?arGuia.fechaCumplido | date('H:i'):'N/A':'N/A' }}</div>
                        </time>
                    </div>
                    <div class="tm-box appear-animation fadeInRight appear-animation-visible"
                         data-appear-animation="fadeInRight">
                        <p>
                            {% if arrArchivos is defined %}
                                {% if arrArchivos is not empty %}
                                    En hora buena! aqui estan sus cumplidos!
                                {% else %}
                                    No se encuentras archivos digitalizados
                                {% endif %}
                            {% endif %}
                        </p>
                        <div class="thumbnail-gallery">
                            {% if arrArchivos is defined %}
                                <table class="table table-bordered table-hover tabla-datos-v2">
                                    <thead>
                                    <tr>
                                        <th>ARCHIVO</th>
                                        <th>FECHA</th>
                                        <th>TAMAÑO</th>
                                        <th></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for fichero in arrArchivos %}
                                        <tr>
                                            <td>{{ fichero.nombre }}</td>
                                            <td>{{ fichero.fecha }}</td>
                                            <td>{{ fichero.tamano }}</td>
                                            <td class="text-center">
                                                <a href="{{ path('cliente_transporte_guia_fichero_descargar', {'codigo':fichero.codigoFicheroPk }) }}"
                                                   target="_blank"><i
                                                            class="fa fa-download" style="font-size: large;color: black;"></i></a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            {% endif %}
                        </div>
                    </div>
                </li>
            </ol>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}
{% block javascripts %}
    <script>
        $(() => {
            $('.test-popup-link').magnificPopup({
                type: 'image'
            });

            $(".btnDescargarImagen").click((evento) => {
                let elemento = evento.target
                let linkSource = elemento.dataset.img;
                let downloadLink = document.createElement("a");
                let fileName = elemento.dataset.nombre;
                downloadLink.href = linkSource;
                downloadLink.download = fileName;
                downloadLink.click();
                downloadLink.remove();
            })

        });
    </script>
{% endblock %}