{% extends 'aplicacion/base.html.twig' %}
{% block title %}EMPRESAS{% endblock %}
{% block content %}
    {{ form_start(form) }}
    <div class="row mt-2">
        <section class="panel">
            <div class="panel-heading">
                <div class="panel-title">
                    <h2 class="panel-title">EMPRESA NUEVO</h2>
                </div>
            </div>
            <div class="panel-body">
                <div class="row form-group form-group-sm">
                    <label class="col-sm-2 control-label">Nombre:</label>
                    <div class="col-sm-4">
                        {{ form_widget(form.nombre) }}
                    </div>
                    <label class="col-sm-2 control-label">Direccion:</label>
                    <div class="col-sm-4">
                        {{ form_widget(form.direccion) }}
                    </div>
                </div>
                <div class="row form-group form-group-sm">
                    <label class="col-sm-2 control-label">Teléfono:</label>
                    <div class="col-sm-4">
                        {{ form_widget(form.telefono) }}
                    </div>
                    <label class="col-sm-2 control-label">Abreviatura:</label>
                    <div class="col-sm-4">
                        {{ form_widget(form.abreviatura) }}
                    </div>
                </div>
                <div class="row form-group form-group-sm">
                    <label class="col-sm-2 control-label">Nit:</label>
                    <div class="col-sm-4">
                        {{ form_widget(form.nit) }}
                    </div>
                    <label class="col-sm-2 control-label">Digito verificación:</label>
                    <div class="col-sm-4">
                        {{ form_widget(form.digitoVerificacion) }}
                    </div>
                </div>
                <div class="row form-group form-group-sm">
                    <label class="col-sm-2 control-label">Url servicio:</label>
                    <div class="col-sm-4">
                        {{ form_widget(form.urlServicio) }}
                    </div>
                    <label class="col-sm-2 control-label">Item de cotización erp:</label>
                    <div class="col-sm-4">
                        {{ form_widget(form.codigoItem) }}
                    </div>
                </div>
                <div class="row form-group form-group-sm">
                    <label class="col-sm-2 control-label">Ciudad:</label>
                    <div class="col-sm-4">
                        {{ form_widget(form.ciudad) }}
                    </div>
                    <label class="col-sm-2 control-label">Logo:</label>
                    <div class="col-sm-4">
                        {{ form_widget(form.archivo) }}
                    </div>
                </div>
                <div class="row form-group form-group-sm">
                    <div class="col-xl-12 col-sm-12 text-right mt-2">
                        <a href="{{ path('administrador_empresa_lista') }}" class=" btn btn-sm btn-default"
                           title="regresar a la lista"> Cancelar</a>
                        {{ form_widget(form.btnGuardar) }}
                    </div>
                </div>
            </div>
        </section>
    </div>
    {{ form_end(form) }}
{% endblock %}