{% extends 'aplicacion/base.html.twig' %}
{% block title %}Reclamo{% endblock %}
{% block content %}
    <div class="btn-toolbar" style="float:left">
        <div class="btn-group">
            <a class="btn btn-default btn-sm" href="{{ path('turno_programacionreporte_lista') }}">
                <i class="fa fa-reply" aria-hidden="true"></i>
                Volver
            </a>
        </div>
    </div>
    <br><br>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-condensed table-bordered tabla-informacion w-100">
                <tr>
                    <td class="titulo">CÓDIGO:</td>
                    <td class="td-in-well">{{ arProgramacionReporte.codigoProgramacionReportePk }}</td>
                    <td class="titulo">TIPO</td>
                    <td class="td-in-well">{{ arProgramacionReporte.reporteTipoNombre }}</td>
                </tr>
                <tr>
                    <td class="titulo">FECHA:</td>
                    <td class="td-in-well">{{ arProgramacionReporte.fecha | date('Y-m-d') }}</td>
                    <td class="titulo"></td>
                    <td class="td-in-well"></td>
                </tr>
                <tr>
                    <td class="titulo">DESDE:</td>
                    <td class="td-in-well">{{ arProgramacionReporte.diaDesde }}</td>
                    <td class="titulo">HASTA:</td>
                    <td class="td-in-well">{{ arProgramacionReporte.diaHasta }}</td>
                </tr>
                <tr>
                    <td class="titulo">FECHA CIERRE:</td>
                    <td class="td-in-well">{{ arProgramacionReporte.fechaCierre ? arProgramacionReporte.fechaCierre | date('Y-m-d') : 'SIN CERRAR' }}</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="table-responsive mt-2">
            <table class="table table-bordered table-hover tabla-datos-v2">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>FECHA</th>
                    <th>RESPUESTA</th>
                </tr>
                </thead>
                <tbody>
                {% for arRespuesta in arProgramacionReporte.respuestas %}
                    <tr>
                        <td>{{ arRespuesta.codigoProgramacionReporteRespuestaPk }}</td>
                        <td>{{ arRespuesta.fecha | date('Y-m-d H:i:s') }}</td>
                        <td>{{ arRespuesta.respuesta }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}