<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Servicios Semantica ERP{% endblock %}</title>
    <meta name="keywords" content="HTML5 Admin Template"/>
    <meta name="description" content="JSOFT Admin - Responsive HTML5 Template">
    <meta name="author" content="JSOFT.net">
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <!-- Web Fonts  -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800|Shadows+Into+Light"
          rel="stylesheet" type="text/css">
    <!-- Vendor CSS -->
    <link rel="stylesheet" href="{{ asset('vendor/bootstrap/css/bootstrap.css') }}"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"
          integrity="sha256-NuCn4IvuZXdBaFKJOAcsU2Q3ZpwbdFisd5dux4jkQ5w=" crossorigin="anonymous"/>
    <link rel="stylesheet" href="{{ asset('vendor/magnific-popup/magnific-popup.css') }} "/>
    <link rel="stylesheet" href="{{ asset('vendor/bootstrap-datepicker/css/datepicker3.css') }} "/>


    <!-- Specific Page Vendor CSS -->
    <link rel="stylesheet" href="{{ asset('vendor/jquery-ui/css/ui-lightness/jquery-ui-1.10.4.custom.css') }} "/>
    <link rel="stylesheet" href="{{ asset('vendor/bootstrap-multiselect/bootstrap-multiselect.css') }} "/>
    <link rel="stylesheet" href="{{ asset('vendor/morris/morris.css') }} "/>

    <!-- Theme CSS -->
    <link rel="stylesheet" href="{{ asset('stylesheets/theme.css') }} "/>

    <!-- Skin CSS -->
    <link rel="stylesheet" href="{{ asset('stylesheets/skins/default.css') }} "/>


    <!-- Head Libs -->
    <script src="{{ asset('vendor/modernizr/modernizr.js') }}"></script>

    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet"/>

    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/select2-bootstrap-css/1.4.6/select2-bootstrap.min.css"
          integrity="sha512-3//o69LmXw00/DZikLz19AetZYntf4thXiGYJP6L49nziMIhp6DVrwhkaQ9ppMSy8NWXfocBwI3E8ixzHcpRzw=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="stylesheet" href="{{asset('vendor/magnific-popup/magnific-popup.css') }} "/>

    <!-- Theme Custom CSS -->
    <link rel="stylesheet" href="{{ asset('stylesheets/theme-custom.css') }}"/>

    {% block stylesheets %}{% endblock %}


</head>
<body>
<section class="body">
    <!-- start: header -->
    {% include('aplicacion/componentes/encabezado.html.twig') %}
    <!-- end: header -->
    <div class="inner-wrapper">
        <!-- start: sidebar -->
        {% include('aplicacion/componentes/menu.html.twig') %}
        <!-- end: sidebar -->
        <section role="main" class="content-body">
            <header class="page-header">
                <h2>{{ app.user.empresaRel.nombre  | default("") }}
                    {% if app.user.codigoEmpresaFk == null %}
                    <a title="Cambiar o asignar una empresa"
                       id="{{ path('empleado_cambio_empresa', {'codigoEmpleado': app.user.codigoUsuarioPk }) }}"
                       data-toggle="modal" data-target="#modalBootstrap">
                        Asignar empresa
                        {% else %}
                            {% if app.user.empresaRel.menuCambioEmpresa %}
                                {% if app.user.empleado or is_granted('ROLE_ADMIN') %}
                                    <a title="Cambiar o asignar una empresa"
                                    id="{{ path('empleado_cambio_empresa', {'codigoEmpleado': app.user.codigoUsuarioPk }) }}"
                                    data-toggle="modal" data-target="#modalBootstrap">
                                    (cambiar)
                                {% endif %}
                                </a>
                            {% endif %}
                        {% endif %}
                    </a>
                </h2>
                <div class="right-wrapper pull-right">
                    <ol class="breadcrumbs">
                        <li>
                            <a href="{{ path('inicio') }}">
                                <i class="fa fa-home"></i>
                            </a>
                        </li>
                        <li><span>Inicio</span></li>
                    </ol>
                    <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fa fa-chevron-left"></i></a>

                </div>
            </header>
            {{ notificar()|raw }}
            {% block content %}
            {% endblock %}
            <div class="modal fade" id="modalBootstrap" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div id="contenedorModal" class="modal-content"></div>
                </div>
            </div>

        </section>
    </div>

</section>

<!-- Vendor -->
<script src="{{ asset ('vendor/jquery/jquery.js') }}"></script>
<script src="{{ asset('vendor/jquery-browser-mobile/jquery.browser.mobile.js') }}"></script>
<script src="{{ asset('vendor/bootstrap/js/bootstrap.js') }}"></script>
<script src="{{ asset('vendor/nanoscroller/nanoscroller.js') }}"></script>
<script src="{{ asset('vendor/bootstrap-datepicker/js/bootstrap-datepicker.js') }}"></script>
<script src="{{ asset('vendor/magnific-popup/magnific-popup.js') }}"></script>
<script src="{{ asset('vendor/jquery-placeholder/jquery.placeholder.js') }}"></script>

<!-- Specific Page Vendor -->
<script src="{{ asset('vendor/jquery-ui/js/jquery-ui-1.10.4.custom.js') }}"></script>
<script src="{{ asset('vendor/jquery-ui-touch-punch/jquery.ui.touch-punch.js') }}"></script>
<script src="{{ asset('vendor/jquery-appear/jquery.appear.js') }}"></script>
<script src="{{ asset('vendor/bootstrap-multiselect/bootstrap-multiselect.js') }}"></script>
<script src="{{ asset('vendor/jquery-easypiechart/jquery.easypiechart.js') }}"></script>
<script src="{{ asset('vendor/flot/jquery.flot.js') }}"></script>
<script src="{{ asset('vendor/flot-tooltip/jquery.flot.tooltip.js') }}"></script>
<script src="{{ asset('vendor/flot/jquery.flot.pie.js') }}"></script>
<script src="{{ asset('vendor/flot/jquery.flot.categories.js') }}"></script>
<script src="{{ asset('vendor/flot/jquery.flot.resize.js') }}"></script>
<script src="{{ asset('vendor/jquery-sparkline/jquery.sparkline.js') }}"></script>
<script src="{{ asset('vendor/raphael/raphael.js') }}"></script>
<script src="{{ asset('vendor/morris/morris.js') }}"></script>
<script src="{{ asset('vendor/gauge/gauge.js') }}"></script>
<script src="{{ asset('vendor/snap-svg/snap.svg.js') }}"></script>
<script src="{{ asset('vendor/liquid-meter/liquid.meter.js') }}"></script>
<script src="{{ asset('vendor/jqvmap/jquery.vmap.js') }}"></script>
<script src="{{ asset('vendor/jqvmap/data/jquery.vmap.sampledata.js') }}"></script>
<script src="{{ asset('vendor/jqvmap/maps/jquery.vmap.world.js') }}"></script>
<script src="{{ asset('vendor/jqvmap/maps/continents/jquery.vmap.africa.js') }}"></script>
<script src="{{ asset('vendor/jqvmap/maps/continents/jquery.vmap.asia.js') }}"></script>
<script src="{{ asset('vendor/jqvmap/maps/continents/jquery.vmap.australia.js') }}"></script>
<script src="{{ asset('vendor/jqvmap/maps/continents/jquery.vmap.europe.js') }}"></script>
<script src="{{ asset('vendor/jqvmap/maps/continents/jquery.vmap.north-america.js') }}"></script>
<script src="{{ asset('vendor/jqvmap/maps/continents/jquery.vmap.south-america.js') }}"></script>
<script src="{{asset('vendor/magnific-popup/magnific-popup.js') }}"></script>

<!-- Theme Base, Components and Settings -->
<script src="{{ asset('javascripts/theme.js') }}"></script>

<!-- Theme Custom -->
<script src="{{ asset('javascripts/theme.custom.js') }}"></script>

<!-- Theme Initialization Files -->
<script src="{{ asset('javascripts/theme.init.js') }}"></script>

<!-- Examples -->
<script src="{{ asset('javascripts/dashboard/examples.dashboard.js') }}"></script>


<script src="{{ asset('javascripts/general.js') }}"></script>

<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

<script>
    $(() => {
        $(".aplicarSelect2").select2({
            width: '100%',
            language: {
                noResults: function () {
                    return "No hay resultado";
                },
                searching: function () {
                    return "Buscando..";
                }
            }
        });
        /**
         * Solucionar el problema del tab index que tiene el select 2.
         */
        $(".aplicarSelect2").on("select2:close", function (e) {
            e.target.focus();
        });
    });
</script>

{% block javascripts %}{% endblock %}

</body>
</html>
