{% extends 'aplicacion/baseSinMenu.html.twig' %}
{% block content %}
    {{ form_start(form, { 'attr': {'class': 'form-horizontal'} }) }}
    <div class="panel panel-default">
        <div class="panel-heading">Información general</div>
        <div class="panel-body">
            <div class="form-group form-group-sm">
                <label for="form_recogidaTipoRel" class="col-sm-2 control-label">Alto :</label>
                <div class="col-sm-4">
                    {{ form_widget(form.alto, { 'attr': {'class': 'form-control'} }) }}
                    <span>Unidad de medida usada milímetro</span>
                </div>
                <label for="form_fechaVence" class="col-sm-2 control-label">Posición x:</label>
                <div class="col-sm-4">
                    {{ form_widget(form.posicionX, { 'attr': {'class': 'form-control'} }) }}
                    <span>Unidad de medida usada milímetro</span>
                </div>
            </div>
            <div class="form-group form-group-sm">
                <label for="form_fechaVence" class="col-sm-2 control-label">Ancho:</label>
                <div class="col-sm-4">
                    {{ form_widget(form.ancho, { 'attr': {'class': 'form-control'} }) }}
                    <span>Unidad de medida usada milímetro</span>
                </div>

                <label for="form_fechaVence" class="col-sm-2 control-label">Posición y:</label>
                <div class="col-sm-4">
                    {{ form_widget(form.posicionY, { 'attr': {'class': 'form-control'} }) }}
                    <span>Unidad de medida usada milímetro</span>
                </div>
            </div>
            <div class="form-group form-group-sm">
                <label for="form_fechaVence" class="col-sm-2 control-label">Imagen:</label>
                <div class="col-sm-4">
                    {{ form_widget(form.archivo, { 'attr': {'class': 'form-control'} }) }}
                    <small>SOLO FORMATOS PNG Y JPG</small>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <a class="btn btn-default btn-sm" onclick="window.close();">Cancelar</a>
        {{ form_widget(form.btnGuardar, { 'attr': {'class': 'btn btn-primary btn-sm'} }) }}
    </div>
    {{ form_end(form) }}
{% endblock %}
