{% extends 'aplicacion/base.html.twig' %}
{% block title %}SOLICITUD{% endblock %}
{% block content %}
    {{ form_start(form) }}
    <div class="row">
        <h2 class="panel-title">SOLICITUD</h2>
    </div>
    <div class="row">
        <div class="col-sm-2 col-sm-offset-10">
            <div style="float: right; margin-right: 5px !important;" class="btn-group" role="group" aria-label="...">
                <a href="{{ path('empleado_solicitud_nuevo') }}"
                   class="btn btn-sm btn-default ">
                    Nuevo
                </a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="table-responsive mt-2">
            <table class="table table-bordered table-hover tabla-datos-v2">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>TIPO</th>
                    <th>DESDE</th>
                    <th>HASTA</th>
                    <th>COMENTARIO</th>
                    <th title="Estado solicitud">EST</th>
                    <th>COMENTARIO RECHAZO</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for arSolicitud in arrSolicitudes %}
                    <tr>
                        <td>{{ arSolicitud.codigoSolicitudEmpleadoPk }}</td>
                        <td>{{ arSolicitud.solicitudEmpleadoTipo }}</td>
                        <td>{{ arSolicitud.fechaDesde | date('Y-m-d H:i:s') }}</td>
                        <td>{{ arSolicitud.fechaHasta | date('Y-m-d H:i:s') }}</td>
                        <td>{{ arSolicitud.comentario }}</td>
                        <td style="font-size: 2rem; font-weight: bold;
                                {% if arSolicitud.estadoSolicitud == 'A' %}color: #28a745;{% elseif arSolicitud.estadoSolicitud == 'R' %}color: #dc3545;{% endif %}">
                            {% if arSolicitud.estadoSolicitud == 'A' %}
                                ACEPTADO
                            {% elseif arSolicitud.estadoSolicitud == 'R' %}
                                RECHAZADO
                            {% else %}
                                PENDIENTE
                            {% endif %}
                        </td>
                        <td>{{ arSolicitud.comentarioRechazo | default('')}}</td>
                        <td class="text-center">
                            {% if arSolicitud.estadoSolicitud == 'P' %}
                                <a href="{{ path('empleado_solicitud_nuevo',{'codigoSolicitud': arSolicitud.codigoSolicitudEmpleadoPk }) }}"
                                   class="btn btn-sm btn-default" title="editar">
                                    <i class="fa fa-eye"></i>
                                </a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}