{% extends 'baseUtilidad.html.twig' %}
{% block content %}
    {{ form_start(form) }}

    <div class="row">
        <div class="table-responsive mt-2">
            <table class="table table-bordered table-hover tabla-datos-v2">
                <thead>
                <tr>
                    <th>COD</th>
                    <th>ARCHIVO</th>
                    <th>FECHA</th>
                    <th>IDENTIFICADOR</th>
                    <th>TAMAÑO</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for fichero in ficheros %}
                    <tr>
                        <td>{{ fichero.codigoFicheroPk }}</td>
                        <td>{{ fichero.nombre }}</td>
                        <td>{{ fichero.fecha }}</td>
                        <td>{{ fichero.codigo }}</td>
                        <td>{{ fichero.tamano }}</td>
                        <td class="text-center">
                            <button class="btn btn-xs btn-default" title="Descargar archivo" name="btnDescargar" value="{{ fichero.codigoFicheroPk }}">
                                <i class="fa fa-download"></i>
                            </button>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {{ form_end(form) }}

{% endblock %}