{% extends 'aplicacion/baseSinMenu.html.twig' %}
{% block content %}
    <div class="container">
        {{ form_start(form, { 'attr': {'class': 'form-horizontal'} }) }}
        {{ form_errors(form) }}
        <div class="row">
            <div class="col-xl-12">
                <section class="panel">
                    <header class="panel-heading">
                        <h2 class="panel-title">Información estudio</h2>
                    </header>
                    <div class="panel-body">
                        <div class="row form-group form-group-sm">
                            <label for="form_cargar" class="col-sm-2 control-label">Cargar:</label>
                            <div class="col-sm-10">
                                {{ form_widget(form.attachment) }}
                            </div>
                        </div>
                    </div>
                    <footer class="panel-footer">
                        <div style="display: flex; justify-content: space-between;">
                            <a href="{{ asset('ejemplos/estructuraImportarDestinatario.xls') }}" download
                               class="btn btn-sm btn-primary waves-effect waves-themed">Ejemplo
                                estructura</a>
                            <div>
                                <button class="btn btn-sm btn-default" onclick="window.close()">Cancelar</button>
                                {{ form_widget(form.BtnCargar, { 'attr': {'class': 'btn btn-sm btn-primary'} }) }}
                            </div>
                        </div>
                    </footer>
                </section>

            </div>
        </div>
        {% if arrInconsistencias %}
            <div class="row mt-2">
                <h5>Inconsistencias</h5>
                <table class="table table-bordered table-hover tabla-datos-v2">
                    <thead>
                    <tr>
                        <th>fila</th>
                        <th>Descripción</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for arrInconsistencia in arrInconsistencias %}
                        <tr>
                            <td>
                                {{ arrInconsistencia.fila }}

                            </td>
                            <td>
                                {{ arrInconsistencia.inconsistencia }}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endif %}
        {{ form_end(form) }}
    </div>
{% endblock %}